@model Recursos_Humanos_P3.empleado
@{
    Layout = null;

    string error = ViewData["error"].ToString();
    int id_empleado = 0;

    if (Model != null)
    {
        id_empleado = Model.id;
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacacion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link rel="icon" href="~/imagenes/icono_logo_rrhh.png">

    <style>
        body {
            background-image: url("/imagenes/Hydrogen.jpg");
        }
    </style>


</head>
<body>

    @Html.Partial("NavBar")

    @if (error != null)
    {
        if (error.Contains("true"))
        {
            <div id="btn_mensaje" style=" margin: auto; margin-top: 10px; width: 50%;">
                <div class="alert alert-danger collapse show d-flex justify-content-end">
                    <h5 class="mr-auto"> Error al registrar vacaciones del empleado <h5>

                            @if (ViewData["msj_error"] != null)
                            {
                                <h5 style="color:red">@ViewData["msj_error"].ToString()</h5>
                            }

                            <button class="btn btn-outline-danger btn-sm" data-toggle="collapse" data-target="#btn_mensaje">X</button>
                </div>
            </div>


        }
        else if (error.Contains("false"))
        {

            <div id="btn_mensaje" style=" margin: auto; margin-top: 10px; width: 50%;">
                <div class="alert alert-success collapse show d-flex justify-content-end">
                    <h5 class="mr-auto">Vacaciones Registradas</h5>
                    <button class="btn btn-outline-success btn-sm" data-toggle="collapse" data-target="#btn_mensaje">X</button>
                </div>
            </div>
        }
        else if (ViewData["msj_no_encontrado"] != null)
        {
            <div id="btn_mensaje" style=" margin: auto; margin-top: 10px; width: 50%;">
                <div class="alert alert-warning collapse show d-flex justify-content-end">
                    <h5 class="mr-auto">@ViewData["msj_no_encontrado"].ToString()</h5>
                    <button class="btn btn-outline-warning btn-sm" data-toggle="collapse" data-target="#btn_mensaje">X</button>
                </div>
            </div>
        }
    }

    <div class="container">
        <div class="row">
            <form action="/Procesos/Buscar_Empleado_Vacacion_Codigo" method="post" style="background-color: white; border-radius: 5px; padding: 20px; height: 50%;" class="form-group shadow-lg mt-3 col-md-4 col-xs-6 m-4">
                <h2 class="mb-3">Inserte Código del Empleado</h2>
                <div class="row">
                    <div class="col-md-10">
                        <h4>código del empleado</h4>
                        <input type="text" class="form-control" placeholder="ej: emp-soprt-115" required name="codigo">
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-success btn-lg mt-4 ml-auto">Buscar Empleado</button>
                    </div>
                </div>
            </form>

            <form action="/Procesos/Registrar_Vacacion" method="post" style="background-color: white; border-radius: 5px; padding: 20px;" class="form-group shadow-lg mt-3 col-md-6 col-xs-6 m-4">
                <h2 class="mb-3">Formulario de Vacación</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Id: <span>@Html.DisplayTextFor(e=>e.id)</span></h4>
                        <input type="text" name="id_empleado" value="@id_empleado" class="collapse" />

                    </div>

                    <div class="col-md-6">
                        <h4>Código: <span>@Html.DisplayTextFor(e => e.Codigo_Empleado)</span></h4>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Nombre: <span class="ml-2">@Html.DisplayTextFor(e => e.Nombre)</span></h5>
                    </div>

                    <div class="col-md-6">
                        <h5>Apellido: <span class="ml-2">@Html.DisplayTextFor(e => e.Apellido)</span></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Desde</h5>
                        <input type="date" name="v_desde" class="form-control" required>
                    </div>

                    <div class="col-md-6">
                        <h5>hasta</h5>
                        <input type="date" name="v_hasta" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-2">
                        <h5>Correspondiente a (año):</h5>
                        <input type="number" min="1960" name="v_anio" class="form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-success btn-lg mt-4 ml-auto">Registrar Vacación</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>
</html>
