@model Recursos_Humanos_P3.empleado
@{
    Layout = null;

    List<empleado> empleados = new List<empleado>();

    if (ViewData["empleados"] != null)
    {
        foreach (empleado e in ViewData["empleados"] as IEnumerable<empleado>)
        {
            empleados.Add(e);
        }
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empleados Inactivos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="~/imagenes/icono_logo_rrhh.png" rel="icon" />

</head>
<body>

    @Html.Partial("NavBarEmpleadosInactivos")
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Fehca Ingreso</th>
                <th>Salario</th>
                <th>Estatus</th>
            </tr>

        </thead>
        <tbody>
            @foreach (empleado e in empleados)
            {
                <tr>
                    <th>@e.id</th>
                    <th>@e.Codigo_Empleado</th>
                    <th>@e.Nombre</th>
                    <th>@e.Apellido</th>
                    <th>@e.telefono</th>

                    <th>
                        @if (e.departamento != null)
                        {
                            @e.departamento.Nombre

                        }
                    </th>
                    <th>
                        @if (e.cargo != null)
                        {

                            @e.cargo.cargo1
                        }
                    </th>

                    <th>@e.fecha_ingreso.Value.Date.ToString("d")</th>
                    <th>@e.salario</th>
                    <th>@e.estatus</th>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>